Subject: Getting started with Open Source Collective

{{> header}}

<h1>Hey {{collective.name}} 👋</h1>

<p>
  {{#if hostPending}}
    Your {{accountType}} is pending approval for Fiscal Hosting by (<a href="https://opencollective.com/{{host.slug}}">{{host.name}}</a>).
    Your Host will hold money on behalf of your {{accountType}}.
    Once approved, your {{accountType}} will be able to receive money.
  {{else}}
    Thank you for joining Open Source Collective (OSC), a nonprofit fiscal host supporting thousands of open source projects on the Open Collective platform. At OSC, we help manage your Collective's finances – holding funds, processing expenses, handling taxes, accounting, and more – so you can focus on your code and community.
  {{/if}}
</p>

<p>To help you get up and running, we’ll email you tips over the next week, but you’re welcome to ask us questions any time: <a href="mailto:hello@oscollective.org">hello@oscollective.org</a> or <a href="https://discord.opencollective.com">find us on Discord</a>in the #open-source-collective channel.</p>

{{#unless hostPending}}
  <p>
   <p>To help you get started, please complete the following steps:</p>
    <ol>
    <li><b>Watch Our New Collective Onboarding Video:</b> Get an overview of who we are, how we use the Open Collective platform, our services, and more. <a href="https://onboarding.oscollective.org/">OSC Collective Onboarding</a></li>
    <li><b>Get Your First Financial Contributors</b>: Reach out and ask your community to give you an initial boost. Share your Collective link on social media, your blog, and raise an issue in your repo. Don’t be afraid of contacting potential supporters, especially companies who already depend on your project.</li>
    </ol>
 </p>
{{/unless}}

<p><b>Helpful Resources:</b></p>
<ul>
  <li><b><a href="https://docs.oscollective.org/">OSC Documentation</a></b>: Learn about our services and more</li>
  <li><b><a href="https://docs.opencollective.com/help">Open Collective Platform Documentation</a></b>: Learn how to use and navigate the Open Collective platform</li>
  <li><b><a href="https://opencollective.com/opensource/updates">OSC Updates and Announcements</a></b>: This is where we share monthly updates relevant to the OSC community</li>
</ul>

<p>We’re excited to have you with us!</p>

<p>Warmly,</p>

<p>The Open Source Collective Team -- Lauren, Ben, Sourav, and Grace</p>

{{> footer}}
